<html>
<body>
    <h3>Modelo Predictivo de clase: Match Winner</h3>

<div id="class">
  <form action="/result" method="POST">
    <label for="TeamStartingEquipmentValue">Team Starting Equipment Value: </label>
    <input type="text" id="TeamStartingEquipmentValue" name="TeamStartingEquipmentValue">
    <br>
    <label for="TimeAlive">Time Alive: </label>
    <input type="text" id="TimeAlive" name="TimeAlive">
    <br>
    <label for="FirstKillTime">First Kill Time: </label>
    <input type="text" id="FirstKillTime" name="FirstKillTime">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
<br>
<h3>Modelo Predictivo de Regresion: Team Starting EquipmentValue</h3>
<div id="reg">
  <form action="/result" method="POST">
    <label for="RoundStartingEquipmentValue">Round Starting Equipment Value: </label>
    <input type="text" id="RoundStartingEquipmentValue" name="RoundStartingEquipmentValue">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>